body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.pipe {
  background: #eee;
  border: 1px solid #2c2c2c;
  margin: 0 0 16px 0;
  padding: 16px;

}