<div class="recipe">
    <!--myForm has to be the same property that we bind to the formbuilder.group-->
    <form [ngFormModel]="myForm" (ngSubmit)="onSubmit()" #f="ngForm">
        <span><button type="submit" class="btn" [disabled]="!f.valid">Save</button></span>
        <span><a class="btn alt" (click)="onCancel()">Cancel</a></span>

        <div class="input">
            <label for="name">Title</label>
            <input [ngFormControl]="myForm.controls['name']" type="text" id="name">
        </div>

        <div class="input">
            <label for="imageUrl">Url</label>
            <input [ngFormControl]="myForm.controls['imageUrl']" type="text" id="imageUrl" #imageUrl>
        </div>

        <div class="img">
            <img [src]="imageUrl.value">
        </div>

        <div class="input">
            <label for="content">Content</label>
            <textarea [ngFormControl]="myForm.controls['content']" type="text" id="content" rows="6"></textarea>
        </div>

        <div class="list">
            <ul>
                <li *ngFor="#item of myForm.controls['ingredients'].controls; #i = index">
                    <input type="text" class="item-name" [ngFormControl]="item.controls['name']" >
                    <input type="text" class="item-amount" [ngFormControl]="item.controls['amount']" >
                    <input type="text" class="item-amount" [ngFormControl]="item.controls['units']" >
                    <a class="danger" (click)="onRemoveItem(i)">&times;</a>
                </li>
            </ul>
        </div>
    </form>

    <hr>


    <div class="list">
        <form>
            <ul>
                <li>
                    <input type="text" class="item-name" #itemName>
                    <input type="text" class="item-amount" #itemAmount>
                    <input type="text" class="item-amount" #itemUnits>
                    <button type="submit" (click)="onAddItem(itemName.value, itemAmount.value, itemUnits.value)">+</button>
                </li>
            </ul>
        </form>
    </div>
</div>